* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS','Rounded Mplus 1c','M+ 1p / 1c',PixelMplus,sans-serif;

}

body {
  background-image: url(../images/pokemon.jpeg);
  background-size: cover;
}

.nav_toggle {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem; /* 右上に配置 */
  transform: translateY(-50%); /* 縦中央に配置 */
  width: 1.75rem;
  height: 1.5rem;
  margin-top: 15px;
  z-index: 1000;
}

.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%; /* 画面の外に隠す */
  width: 20%;
  height: 100vh;
  background-color: #fff;
  transition: right .5s;
  padding-top: 4rem;
  z-index: 100;
}    

.nav.show {
  right: 0; /* スライドイン */
}

.nav_menu_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_menu_li {
  margin: 1.5rem;
  text-align: center;
}

.nav_menu_li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}


#title {
  font-size: 20px;
  font-weight: bold;
  }

.reset {
    position: relative;
}

#reset_btn {
    position: absolute;
    background-color:#fff;
    top: -30px;
    width: 80px;
    height: 30px;
    border-radius: 0;     /* ← これで四角になる */
    padding: 4px 8px;
    font-size: 15px;
    border: 1px solid #333;
    z-index: 1000;
}

#reset_button:hover {
  background-color: darkgray;
}

.balls {
  display: flex;
  position: relative;
}

#ball_1 {
  position: absolute;
  right: 40px;
}

#ball_2 {
  position: absolute;
  right: 70px;
}

#ball_3 {
  position: absolute;
  right: 100px;
}

#comp {
  position: relative;
}

#comp_what {
  position: absolute;
  right: 470px;
  font-size: 30px;
}

#enemy {
  position: relative;
}

#monster {
  position: absolute;
  right: 150px;
}

#versus {
  position: relative;
}

#vs {
  position: absolute;
  left: 550px;
  font-size: 50px;
  font-weight: bold;
}

#match {
  display: flex;
  justify-content: center;
  align-items: center;  
}

#me {
  position: relative;
}

#maccho {
  position: absolute;
  top: -70px;
  left: 100px;
}

#name {
  position: relative;
}

#reichel {
  position: absolute;
  top: 235px;
  left: 200px;
}

#guchopa {
  display: flex;
  justify-content: left;
  margin-bottom: 100px;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.junken_img {
  width: 150px;
  height: 150px;
}

main {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: calc(100vh/5);
  display: flex;
  align-items: center;
}

.judgement {
  display: flex;
  margin-left: 30px;
}

.comp_janken_img {
  width: 150px;
  height: 150px;
}

#ball_4 {
  position: absolute;
  top: 50px;
}

#ball_5 {
  position: absolute;
  top: 50px;
  left: 30px;
}

#ball_6 {
  position: absolute;
  top: 50px;
  left: 60px;
}

#hand {
  position: relative;
}

#guchopa {
  position: absolute;
  left: 400px;
}

#yasei {
  font-size: 20px;
  color: aliceblue;
  position: relative;
}

#yasei_p {
  position: absolute;
  top: 190px;
  left: 440px;

}

#add_text {
  text-align: center;
}

#text_btn {
  position: absolute;
  top: 130px;
  right: 300px;
  color: aliceblue;
  font-weight: bold;
}

.select {
  position: relative;
}

#gu {
  position: absolute;
  left: 300px;
  top: 180px;
  color: aliceblue;
}

#gu:hover {
  text-decoration: underline;
}

#cho {
  position: absolute;
  left: 500px;
  top: 180px;
  color: aliceblue;
}

#cho:hover {
  text-decoration: underline;
}

#pa {
  position: absolute;
  left: 700px;
  top: 180px;
  color: aliceblue;
}

#pa:hover {
  text-decoration: underline;
}

#result {
  font-size: 30px;
  font-weight: 300;
}

.game_false {
  position: relative;
}

#game_clear {
  position: absolute;
  right: -100px;
  top: -150px;
}

#game_false {
  position: absolute;
  right: -100px;
  top: -150px;
}

#wincount {
  display: none;
}

#losecount {
  display: none;
}